/* Universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* header section */
.header {
  max-width: 1920px;
  min-height: 313px;
  color: #ffffff;
  padding-left: 102px;
  padding-top: 54px;
  background: #1d1d1d url("../images/logo_itb.png") no-repeat right / 388.05px
    368.16px;
}
/* h4 header styles */
.header h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.57px;
  letter-spacing: 0.1854em;
  max-width: 363px;
  min-height: 63px;
  text-align: left;
}

/* Styles for p tags in header */
.header p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
  line-height: 20.8px;
  width: 1148px;
  min-height: 89px;
  margin-bottom: 26px;
}

/* Styles for anchor tag in header */
.header a {
  max-width: 139px;
  min-height: 32px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18.29px;
  text-align: center;
  text-decoration: none;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  padding: 7px;
  color: #ffffff;
}

.main {
  background-color: #01010129;
  text-align: center;
  color: #000000;
  padding-top: 142px;
  max-width: 1920px;
  min-height: 1870px;
}
#about {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.57px;
  letter-spacing: 0.3554em;
  border: 8px solid #000000;
  max-width: 404px;
  min-height: 107px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 71px;
  padding: 33px 0;
}
.main p {
  font-family: "Open Sans", sans-serif;
  max-width: 763px;
  min-height: 47px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20.8px;
  text-align: center;
  color: #050505;
  margin: 0 auto;
  margin-bottom: 67px;
}

#explore {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  padding: 7px;
  font-size: 15px;
  font-weight: 600;
  line-height: 18.29px;
  text-align: center;
  color: #000000;
  max-width: 139px;
  min-height: 32px;
}
.separator {
  display: block;
  max-width: 170px;
  min-height: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 85px;
}
