/* Universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* header section */
header {
  max-width: 1920px;
  min-height: 313px;
  color: #ffffff;
  padding-left: 102px;
  padding-top: 54px;
  background: #1d1d1d url("../images/logo_itb.png") no-repeat right / 388.05px
    368.16px;
}
/* h4 header styles */
header h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.57px;
  letter-spacing: 0.1854em;
  max-width: 363px;
  min-height: 63px;
  text-align: left;
}

/* Styles for p tags in header */
header p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
  max-width: 1148px;
  min-height: 89px;
}

/* Styles for anchor tag in header */
header a {
  max-width: 129px;
  min-height: 32px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18.29px;
  text-align: center;
  text-decoration: none;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff;
}

.main {
  background-color: #01010129;
  margin: 0;
  text-align: center;
  padding: 50px;
  max-width: 1920px;
  min-height: 1565px;
}
.main h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.57px;
  letter-spacing: 0.3554em;
  text-align: center;
  color: #000000;
  border: 8px solid #000000;
  padding: 10px;
  width: 300px;
  margin: 0 auto 50px auto;
}
.main p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 20.8px;
  text-align: center;
  color: #050505;
  margin-bottom: 50px;
}

#explore {
  text-decoration: none;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18.29px;
  text-align: center;
  color: #000000;
}
.separator {
  display: block;
  margin: 50px auto;
  width: 170px;
  height: 12px;
}

.logo {
  width: 388.05px;
  height: 575.27px;
}
